.wrapper{
    width      : 100%;
    min-height : 100vh;
    height: auto;
    background-color: #F7F7F7;
}

.paper{
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.133);
}

.spacer {
    flex-grow: 1;
}

.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.511);

    display: flex;
    justify-content: center;
    align-items: center;
}