.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.content{
    width: 50%;
    min-height: 80vh;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_input{
    width: 100%;
    border: none;
    background-color: rgb(235, 235, 235);
    outline:  none;
    line-height: 1.3rem;
    font-size: 1rem;
    color: rgb(61, 61, 61);
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
}

.description{
    width: 100%;
    border: none;
    background-color: rgb(235, 235, 235);
    outline:  none;
    font-size: 0.9rem;
    color: rgb(61, 61, 61);
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
    resize:vertical;
}

.prompt_head{
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: start;
    color: rgb(68, 68, 68);
    margin-bottom: 16px;
}

.prompt_engine_wrapper{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
}

.prompt_engine{
    width: 200px;
    padding: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(84, 84, 84);
    height: 1.5rem;
    border-radius: 4px;
    border: 1px solid rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prompt_by{
    width: 100%;
    font-size: 0.7rem;
    color: rgb(47, 47, 47);
    text-align: start;
}

.prompt{
    width: 100%;
    border: none;
    background-color: rgb(235, 235, 235);
    outline:  none;
    font-size: 0.9rem;
    color: rgb(61, 61, 61);
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
    resize:vertical;
}

.btn_wrapper{
    display: flex;
    gap: 12px;
}

.btn{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 50%;
    cursor: pointer;
}

/* PostModal */
.engineModal_content{
    width: 30%;
    height: 60%;
    padding: 24px;

    display: flex;
    flex-direction: column;
}

.engineModal_title{
    text-align: start;
    font-size: 1.1rem;
    margin-bottom: 24px;
}

.engineModal_list{
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

.engineModal_engine{
    text-align: start;
    cursor: pointer;
    line-height: 2.6rem;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.engineModal_engine:hover{
    background-color: rgb(231, 231, 231);
}

/* InputEngineModal */
.inputEngineModal_content{
    width: 40%;
    height: 20%;
    padding: 12px;

    display: flex;
    flex-direction: column;
}

.inputEngineModal_title{
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: start;
}

.inputEngineModal_input{
    width: 100%;
    border: none;
    background-color: rgb(235, 235, 235);
    outline:  none;
    line-height: 2.4rem;
    padding: 2px;
    font-size: 1rem;
    color: rgb(61, 61, 61);
    border-radius: 4px;
}

.inputEngineModal_btnWrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}

.inputEngineModal_btn{
    margin-right: 12px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(60, 60, 60);
}

.inputEngineModal_btn:hover{
    color: rgb(41, 41, 41);
}