.wrapper{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 74px;
    height: 74px;
    border-radius: 8%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.133);
    cursor: pointer;
}

